<div
  class="container-fluid flex-column d-flex justify-content-center h-75 align-items-center"
>
  <h1>Make post</h1>
  <form method="POST" class="card p-3 bg-light">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input class="form-control" type="text" name="title" required />
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Message</label>
      <input class="form-control" type="textarea" name="message" required />
    </div>
    <button type="submit" class="btn btn-primary">Post</button>

  </form>
</div>