<form method="POST">

  <div>
    <label>Title</label>
    <input type="text" name="title" placeholder="..." />
    <label>Speak your mind</label>
    <input type="text" name="message" placeholder="..." />
  </div>
  <div>
    <button>Post</button>
  </div>
</form>