<div
  class="container-fluid d-flex flex-column justify-content-center h-75 align-items-center"
>
<div class = "card p-3 bg-light w-70">
    <div class="mb-3">
  <h1 style = "color:red;">{{message}}</h1>
    </div>
</div>
<div>

    

